.mensaje{
    font-size: 3rem;
    text-align: center;
    margin-top: 30px;

    &::first-letter{
        font-size: 5rem;
        color: $decoracion;
        background-color: $color-secundario;
        border: 8px double $decoracion;
        padding: 5px;
    }
}